*{
    margin:0px;
    font-family: arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
} 
.nav-logo{
    height:35px;
    width:100px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
.logo{
    background-image: url('images/amz_logo.png');
    height: 35px;
    width: 100%;
    background-size:cover;
}
.border{
 border: 2px solid transparent;
}
.border:hover{
     border: 1.2px solid white;
}
/* box2 */
.nav-add{
    padding: 5px;
}
.add-fir{
   color: #CCCCCC;
   font-size: 0.80rem;
   margin-left:15px;
}
.add-sec{
 font-size: 5rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* box 3 */
.nav-search{
 display: flex;
 background-color: rgb(233, 171, 14);
 height: 35px;
 width: 700px;
  border-radius: 4px;
justify-content: space-evenly;
}
.nav-search:hover{
        border:2px solid orange
}

.select-search{
    background-color:#f3f3f3 ;
    color: grey;
    width: 60px;
    font-size: 14px;
    text-align: center;
    border-top-left-radius:4px ;
     border-bottom-left-radius:4px ;
     border: none;
}
.search-input{
    width:100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0f1111;
}

/* nav-language */
.nav-language{
    height: 50px;
    width: 70px;
    padding: 0px 6px 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#nl-namee{
    height: 24px;
    background:  none;
    font-size: 18px;
}
.nl-name{
    font-weight: 700;
    color: white;
    border: none;
    
}

/* box 4 */
span{
    font-size: 14px;
}
.nav-sec{
    font-size:15px;
    font-weight: 800;
}

/* box 5 */
.nav-order{
  font-weight: 800;
  font-size: 15px;
}


/* box 6 */
.nav-cart i{
    font-size: 27px;
}
.nav-cart{
    font-size: 15px;
    padding: 9px;
}

/* panel */
.panel{
    background-color:#222f3d ;
     display: flex;
     height:40px;
     justify-content: space-evenly;
     align-items: center;
      color:#FFFFFF;
}

.panel-option p{
   display: inline;
   margin-left: 15px;
    font-size:17px ;
    padding: 6px;

} 

.panel-option{
    width:70%;
    font-size: 0.8rem;
}

.panel-deals{
      font-size: 0.9rem;
    font-weight: 700;
}


/* hero section */
.hero-section{
    background-image: url('images/amz_hbg.jpg');
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.hero-msg{
    background-color: white;
    color: black;
    font-size: 1rem;
    width: 80%;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
     margin-bottom: 15px;
     
}
.hero-msg a{
    color: #007785;
    text-decoration: none;
    margin-left:8px ;
}


/* content-section */
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid white;
    height: auto;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.mobile-snap {
  display: contents;
}
a{
    text-decoration: none;
    font-size: 17px;
}
h2{
    font-weight: 700;
}
.box-img{
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p a{
    cursor: pointer;
}
/* box 5 */
.box5{
      border: 2px solid white;
    height: 260px;
    width:97%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.box5c{
    display: inline-block;
    margin-right: 26px; 
    padding-left: 1.5rem;
}
.image-container{
height:249px;
width: 97%;
display: flex;
gap:10px;
overflow-x: auto;
overflow-y: hidden;
padding-left: 1.5rem;
margin-left: 10px;
}
.image-container::-webkit-scrollbar{
    height: 8px;
}
.image-container::-webkit-scrollbar-thumb{
    background: #888;
  border-radius: 4px;
}
.image-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    
.image-box{
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 240px;
   width: 250px;
   flex: 0 0 auto;
  }
  .image-box:hover{
    border: 2 px solid #555;
  }

  /* box 6 */
  .box-4pics{
    height: 420px;
    width:350px;
    margin: 20px 0px 5px 0px;
    background-color: white;
  }
  .b6-ac{
    margin: 25px 10px 7px 20px;
    height: 390px;
  }
  .b6-2p{
    height: 303px;
    width: 320px;
    margin: 10px 0px 0px 0px;
    display: flex;
  }
.b6-cl{
 height: 151px;
 width: 310px;
}
.b6-4c{
    height: 151px;
    width: 147px;
}
.b6-ic{
    height: 115px;
    width: 147px;
    background-size: cover;
    background-position: center;
}
.b6-dc{
    height: 18px;
    width: 147px;
}
.b6-3p{
display: inline-block;
margin-top: 20px;
font-size: 14px;
color: #007185;
cursor: pointer;
}
/* footer */
footer{
    height: auto;
    width: 100%;
    background-color: #232F3E;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: 50px;
    margin-top: 30px;
}
.foot-panel2{
    display: flex;
    color: #FFFFFF;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    
}
ul a{
    display: block;
    font-size: 14px;
    color: #DDDDDD;
    margin: 6px 0px 14px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.3px solid white;
   margin-top:30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.fp-logo{
    background-image: url('images/amz_logo.png');
    height: 35px;
    width: 100px;
    background-size:cover;
}
.fp-other{
    margin-left: 70px;
    display: flex;
    justify-content: space-evenly;
    height: 45px;
    width: 430px;
}
    
#fpoi{
    border: 1px solid #848688;
    height: 33px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
    
.foot-panel4{
    height: 400px;
    background-color:#131A22;
}
.fp4-c ul{
   color:white;
   height: 54px;
   width: 110px;
    padding: 0px;
 margin: 8px;
}
.fp4-c span{
 font-size: 12px;
 padding: 0px;
 margin: 0px;
}
.fp4-c h5{
     padding: 0px;
 margin: 0px;

}
.fp4-c{
    height: 301px;
    width: 890px;
     display: flex;
    margin: 0px auto 0px auto;
    padding: 10px 0px 20px 0px;
    flex-wrap: wrap;
}
.foot-panel5{
    color:white;
    background-color: #131A22;
    height: 90px;
    text-align: center;
}
.pages a{
    font-size: 15px;
     margin-left: 10px;
}
.pages{
    padding-top: 30px;
}
.copyright{
    font-size: 16px;
    margin-top: 5px;
}

/* For responsive design  */

@media(max-width:390px){
    html,body{
        overflow-x: hidden;
    }
    .navbar{
        flex-wrap:wrap;
        height:auto;
        display:flex;
        justify-content:space-between;
    }
    
    .nav-logo{
        order:1;
        margin-left:5px;
        flex-shrink: 0;
    }
    .sign-in{
        order:2;
    }
    .nav-language{
        order:3
    }
    .nav-Returns{
        order:4;
    }
    .nav-cart{
        order:5;
    }

     .nav-search{
    order:6;
  }
    
   .nav-add{
        display:none;
    }
    .nav-search{
    order: 3;               
    width: 98%;
    max-width: 100%;
    margin: 7px 0px;
    }
    
  .nav-language,
  .sign-in,
  .nav-Returns,
  .nav-cart {
    font-size: 10px;
  }
   
    .nav-cart i{
       font-size:25px;
   }
    .nav-cart{
        font-size:15px
    }
    .nav-logo {
    width: 100px;
    padding-left: 0px;
  }
   .logo {
    width: 100%;
  }

    
   .panel{
       height:auto;
      flex-wrap: nowrap;
       display:flex;
       padding:5px 0px 5px 5px;
       gap: 7px; 
       justify-content:space-between;
   }
 #border2,#border3,#border4,#border5,#border6{
     display:none;
 }
    .panel-all{
        width:95px;
    }
    #border1{
        font-size:13px;
    }
   #pdeals{
       width:300px;
       font-size:13px;
   }
   
    .hero-section {
    height: 250px;
    background-position:center;
  }
     .hero-msg {
    width:95% ;
    height: auto;
    padding: 5px 7px;
    font-size: 0.80rem;
    text-align:center;
  }
    .hero-msg a{
        font-size:0.7rem;
    }
   
    .mobile-snap {
    display: flex;
    gap: 10px;
   overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .mobile-snap::-webkit-scrollbar {
    display: none;
  }

  .mobile-snap .box {
    min-width: 98%;
    scroll-snap-align: start;
    flex-shrink: 0;
  }

    .box{
        width:98%;
        height:auto;
        /* margin-top:13px; */
    }
   .box-img{
       height:280px;
        background-size:contain;
       }
    .box5{
        height:auto;
    }
    .box5c{
        font-size:11px;
    }

  .image-container{
        width:92%;
       /* margin:auto 10px; */
       padding-left:7px;
        
    }
    
    .foot-panel1{
        margin-top:0px;
    }
   .foot-panel2 ul{
    padding-left:10px;
   }
   .footp2-2,
   .footp2-3,
   .fp-logo{
    display: none;
    }
   
     .foot-panel3{
        height:auto;
       
    }
    .fp-other{
         display:flex;
        flex-wrap:wrap;
        justify-content:center;
        width:100%;
        height:auto;
        gap:10px;
        padding:10px;
        margin:auto;
    }
    #fpoi{
        width:45%;
        justify-content:center;
        
    }
    #fpoi:last-child{
        width:90%;
        justify-content:center;
    }
   .foot-panel4{
       display:none;
      }
    .foot-panel5{
        height:auto;
        margin:20px 0px 0px 0px;
        
    }
    .pages{
        padding:20px 0px;
        margin-top:10px;
        display:flex;
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }
    .copyright{
        padding:20px;
    }
    
    
}




